@media (max-width: 767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;
    }

    .top {
        height: 735px;

        &__section {
            gap: 32px;
        }
    }

    .section__head {
        font-size: 32px;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: center;
        margin-top: 238px;
        width: 343px;
    }

    .section__text {
        display: none;

        &-mob {
            display: block;
            color: rgb(255, 255, 255);
            font-size: 14px;
            font-style: normal;
            line-height: 22px;
            letter-spacing: 0px;
            margin-bottom: 0;
            text-align: center;
        }
    }

    .section__button {
        margin-left: 54px;
    }

    .game-cards {
        flex-direction: column;
        gap: 32px;
    }

    .item {
        width: 343px;
        height: 300px;
    }

    .seasons {
        padding-bottom: 85px;
        flex-direction: column;
        gap: 64px;
    }

    .seasons__info {
        padding-top: 51px;
        margin-left: 16px;
        margin-right: 16px;
        justify-content: center;
        align-items: center;
    }

    .seasons__head {
        color: rgb(255, 255, 255);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
        text-align: center;
    }

    .seasons__text {
        color: rgb(255, 255, 255);
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
    }

    .seasons__img {
        display: none;

        &-mob {
            display: block;
            padding-left: 16px;
        }
    }

    .remember {
        padding-bottom: 90px;
        flex-direction: column;
        gap: 64px;
      }
      
      .remember__info {
        padding-top: 51px;
        margin-left: 16px;
        margin-right: 16px;
        justify-content: center;
        align-items: center;
      }
      
      .remember__head {
        color: rgb(255, 255, 255);
      font-size: 32px;
      font-weight: 700;
      line-height: 39px;
      letter-spacing: 0px;
      text-align: center;
      }
      
      .remember__text {
        color: rgb(255, 255, 255);
      font-size: 14px;
      font-weight: 300;
      line-height: 22px;
      letter-spacing: 0px;
      text-align: center;
      }
      
      .remember__img {
        display: none;
      
        &-mob {
          display: block;
          padding-left: 16px;
          padding-bottom: 90px;
        }
      }
      
      .puzzle {
        background-image: url(img/puz.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding-top: 51px;
      }
    
    .puzzle__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
        margin-left: 16px;
        padding-top: 276px;
        padding-bottom: 288px;
        gap: 32px;
      }
    
      .puzzle__head {
        color: rgb(255, 255, 255);
        font-size: 32px;
        font-weight: 700;
        line-height: 39px;
        letter-spacing: 0px;
      }
    .puzzle__text {
        color: rgb(255, 255, 255);
        font-size: 14px;
        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0px;
        text-align: center;
      }
      
      .puzzle__button {
        border-radius: 30px;
        background: rgb(156, 3, 50);
        color: rgb(255, 255, 255);
        font-size: 18px;
        font-weight: 400;
        line-height: 22px;
        width: 234px;
        height: 48.6px;
      
        &:hover {
          cursor: pointer;
        }
      }
    
}
