* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

.top {
  background-image: url(img/bckgr.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1024px;
  flex-shrink: 0;
}
.top__section {
  display: flex;
  flex-direction: column;
}

.section__head {
  color: #FFF;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  width: 789px;
  height: 125px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  margin-bottom: 32px;
  margin-top: 217px;
}

.section__text {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
  margin-bottom: 44px;
}
.section__text-mob {
  display: none;
}

.section__button {
  border-radius: 30px;
  background: #9C0332;
  width: 234.063px;
  height: 48.603px;
  flex-shrink: 0;
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section__button:hover {
  cursor: pointer;
}

.game-cards {
  display: flex;
  background-color: #000915;
  gap: 32px;
  padding-top: 128px;
  padding-bottom: 128px;
}
.game-cards-section {
  background-color: #000915;
}

.item-1 {
  background-image: url(img/Rectangle\ 6.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item-2 {
  background-image: url(img/Rectangle\ 7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item-3 {
  background-image: url(img/Rectangle\ 8.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.item {
  height: 300px;
  width: 379px;
  padding-bottom: 32px;
  padding-left: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 32px;
  text-decoration: none;
}

.seasons {
  background-color: rgb(0, 9, 21);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 135px;
  padding-bottom: 282px;
}

.seasons__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 120px;
  padding-top: 282px;
  gap: 32px;
}

.seasons__head {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}

.seasons__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.seasons__button {
  border-radius: 30px;
  background: rgb(156, 3, 50);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  width: 234.06px;
  height: 48.6px;
}

.seasons__button:hover {
  cursor: pointer;
}

.seasons__img {
  padding-top: 233px;
  margin-right: 116px;
}
.seasons__img-mob {
  display: none;
}

.item:hover {
  box-sizing: border-box;
  border: 3px solid rgb(68, 210, 255);
  border-radius: 16px;
  cursor: pointer;
}

.remember {
  background: rgb(0, 9, 21);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 150px;
  padding-bottom: 242px;
}

.remember__img {
  padding-top: 239px;
  margin-left: 142px;
}
.remember__img-mob {
  display: none;
}

.remember__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 116px;
  padding-top: 282px;
  gap: 32px;
}

.remember__head {
  color: rgb(255, 255, 255);
  font-size: 48px;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: 0px;
  text-align: left;
}

.remember__text {
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.remember__button {
  border-radius: 30px;
  background: rgb(156, 3, 50);
  color: rgb(255, 255, 255);
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  width: 240.44px;
  height: 48.6px;
}
.remember__button:hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top {
    height: 735px;
  }
  .top__section {
    gap: 32px;
  }
  .section__head {
    font-size: 32px;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 238px;
    width: 343px;
  }
  .section__text {
    display: none;
  }
  .section__text-mob {
    display: block;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-style: normal;
    line-height: 22px;
    letter-spacing: 0px;
    margin-bottom: 0;
    text-align: center;
  }
  .section__button {
    margin-left: 54px;
  }
  .game-cards {
    flex-direction: column;
    gap: 32px;
  }
  .item {
    width: 343px;
    height: 300px;
  }
  .seasons {
    padding-bottom: 85px;
    flex-direction: column;
    gap: 64px;
  }
  .seasons__info {
    padding-top: 51px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
  }
  .seasons__head {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
  }
  .seasons__text {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }
  .seasons__img {
    display: none;
  }
  .seasons__img-mob {
    display: block;
    padding-left: 16px;
  }
  .remember {
    padding-bottom: 90px;
    flex-direction: column;
    gap: 64px;
  }
  .remember__img {
    display: none;
  }
  .remember__img-mob {
    display: block;
    padding-left: 16px;
  }
  .remember__info {
    padding-top: 51px;
    margin-left: 16px;
    margin-right: 16px;
    justify-content: center;
    align-items: center;
  }
  .remember__head {
    color: rgb(255, 255, 255);
    font-size: 32px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0px;
    text-align: center;
  }
  .remember__text {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */